<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shopping.engravedesigns">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".searchProduct"></activity>
        <activity android:name=".forgottpasswrodActivity" />
        <activity android:name=".downloadsActity" />
        <activity android:name=".customer_reviews" />
        <activity android:name=".ReviewOrder" />
        <activity
            android:name=".TrackStepper"
            android:theme="@style/Trackertheme" />

        <service android:name=".GettingDeviceTokenService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".FirebaseCloudService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".PrivacyPolicy"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".TrackPackage" />
        <activity android:name=".CurencySettings" />
        <activity
            android:name=".FullscreenSlider"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".gallery" />
        <activity android:name=".orderInfo" />
        <activity android:name=".AddAddress" />
        <activity android:name=".MyAccount" />
        <activity
            android:name=".logo_splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".PayUMoney">
            <meta-data
                android:name=".MainActivity"
                android:value="com.shopping.engravedesigns.MainActivity" />
        </activity>
        <activity android:name=".instamojo" />
        <activity android:name=".ReviewlCheckout" />
        <activity android:name=".syncInformations" />
        <activity android:name=".Activity_wishlist" />
        <activity android:name=".Activity_products" />
        <activity
            android:name=".Activity_Register"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity_login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_Splash"
            android:label="@string/app_name"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>