<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shopping.gway_4u">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name="com.shopping.gway_4u.AboutActivity"></activity>
        <activity android:name="com.shopping.gway_4u.WebBrowser" />
        <activity android:name="com.shopping.gway_4u.searchProduct" />
        <activity android:name="com.shopping.gway_4u.forgottpasswrodActivity" />
        <activity android:name="com.shopping.gway_4u.downloadsActity" />
        <activity android:name="com.shopping.gway_4u.customer_reviews" />
        <activity android:name="com.shopping.gway_4u.ReviewOrder" />
        <activity
            android:name="com.shopping.gway_4u.TrackStepper"
            android:theme="@style/Trackertheme" />

        <service android:name="com.shopping.gway_4u.GettingDeviceTokenService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.shopping.gway_4u.FirebaseCloudService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <activity
            android:name="com.shopping.gway_4u.PrivacyPolicy"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name="com.shopping.gway_4u.TermsConditions"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity android:name="com.shopping.gway_4u.TrackPackage" />
        <activity android:name="com.shopping.gway_4u.CurencySettings" />
        <activity
            android:name="com.shopping.gway_4u.FullscreenSlider"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name="com.shopping.gway_4u.gallery" />
        <activity android:name="com.shopping.gway_4u.orderInfo" />
        <activity android:name="com.shopping.gway_4u.AddAddress" />
        <activity android:name="com.shopping.gway_4u.MyAccount" />
        <activity
            android:name="com.shopping.gway_4u.logo_splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name="com.shopping.gway_4u.instamojo" />
        <activity android:name="com.shopping.gway_4u.ReviewlCheckout" />
        <activity android:name="com.shopping.gway_4u.syncInformations" />
        <activity android:name="com.shopping.gway_4u.Activity_wishlist" />
        <activity android:name="com.shopping.gway_4u.Activity_products" />
        <activity
            android:name="com.shopping.gway_4u.Activity_Register"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name="com.shopping.gway_4u.Activity_login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name="com.shopping.gway_4u.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.shopping.gway_4u.activity_Splash"
            android:label="@string/app_name"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>